* {
    font-family: raleway;

}

body {
    background-image: linear-gradient(to right, #efeeec, #f7f7ef);
}

.dynamic-image {
    width: 150px;
    padding-bottom: 1rem;
}

.dynamic--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}