@use "../partials/mixin" as *;


* {
    font-family: raleway;

}

body {
    background-image: linear-gradient(to right, #efeeec, #f7f7ef);
}

.dynamic-image {
    width: 150px;
    padding-bottom: 1rem;

    @include desktop {
        width: 500px;
    }
}

.dynamic--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    @include desktop {
        font-size: 2rem;
    }
}

h1 {
    @include desktop {
        text-align: center;
    }
}

.vanity--image1 {
    @include desktop {
        cursor: pointer;
    }
}