.vanity--image1 {
    width: 250px;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.vanity1--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.vanity1--text {
    text-align: center;
    font-size: 2rem;
}

.vanity1--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vanity1--enlarged {
    max-width: 100%;
    max-height: 100%;
}