.vanity--image1 {
    width: 250px;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.vanity1--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}

.vanity1--text {
    text-align: center;
    font-size: 2rem;
}